@model PartsWarehouse.Models.Przyjecia

@{
    ViewBag.Title = "Przyjęcie - szczegóły";
}

<h2>Szczegóły</h2>

<div>
    <h4>Przyjecia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ilosc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ilosc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_Przyjecia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_Przyjecia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kartoteki.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kartoteki.Nazwa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edycja", "Edit", new { id = Model.Id_Przyjecia }) |
    @Html.ActionLink("Powrót", "Index")
</p>
