@model PagedList.IPagedList<PartsWarehouse.Models.Kartoteki>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Dostawca - Lista części";
}
<div class="text-center">
    <h2>@Model.FirstOrDefault(x => x.Id_Dostawcy == ViewBag.Id).Dostawcy.Nazwa</h2>
    <h4>Lista części</h4>
    <hr />
    <p>
        @Html.ActionLink("Powrót", "Index", null, new { @class = "btn btn-default" })
    </p>
    <hr />
</div>

<table class="table">
    <tr class="breadcrumb">
        <th>
           Nazwa
        </th>
        <th>
            Kod
        </th>
        <th>
            Miejsce
        </th>
        <th>
            Stan
        </th>
        <th>
            Jednostka
        </th>
    </tr>

    @foreach (var item in Model.Where(x=>x.Id_Dostawcy == ViewBag.Id))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Miejsce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JM.Nazwa)
            </td>
        </tr>
    }

</table>
<hr />
Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Details", new { page, ViewBag.Id }))