@model PagedList.IPagedList<PartsWarehouse.Models.Dostawcy>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Dostawcy";
}

<h2 class="text-center">Dostawcy</h2>
<hr />
<div>
    <p class="col-sm-1">
        @Html.ActionLink("Stwórz nowego dostawcę", "Create", null, new { @class = "btn btn-default" })
    </p>
    @using (Html.BeginForm("Index", "Dostawcy", FormMethod.Get))
    {
        <div class="pull-right">
            Filtruj po nazwie:
            <p>
                @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
                <input type="submit" value="Szukaj" class="btn btn-default" />
            </p>
        </div>
    }
</div>

<table class="table">
    <tr class="breadcrumb">
        <th>
            @Html.ActionLink("Nazwa", "Index", new { sortOrder = ViewBag.NameSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Miejscowość
        </th>
        <th>
            Kod
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Miejscowosc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kod)
            </td>
            <td class="text-center">
                @Html.ActionLink("Edycja", "Edit", new { id = item.Id_Dostawcy }, new { @class = "btn btn-default btn-sm" })
                @Html.ActionLink("Usuń", "Delete", new { id = item.Id_Dostawcy }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }

</table>
<hr />
Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
