@model PartsWarehouse.Models.Wydania

@{
    ViewBag.Title = "Wydania - usuń";
}
<div class="text-center">
    <h2>Usuń</h2>
    <h4>Wydanie</h4>
    <hr />
    <h3>Jesteś pewny, że chcesz usunąć to pobranie?</h3>
    <hr />
</div>

<div class="text-center">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ilosc):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ilosc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Data_Wydania):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data_Wydania)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kartoteki.Nazwa):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kartoteki.Nazwa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MPK.Nazwa):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MPK.Nazwa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Osoby.Imie):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Osoby.Imie)
        </dd>
    </dl>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color text-center">
        <input type="submit" value="Usuń" class="btn btn-danger" />
        @Html.ActionLink("Powrót", "Index", null, new { @class = "btn btn-default"})
    </div>
}
<br />