@model PartsWarehouse.Models.Wydania

@{
    ViewBag.Title = "Wydanie - szczegóły";
}


<div class="text-center">
    <h2>Szczegóły</h2>
    <h4>Wydania</h4>
    <hr />
    <p>
        @Html.ActionLink("Edycja", "Edit", new { id = Model.Id_Wydania }, new { @class = "btn btn-default" })
        @Html.ActionLink("Usuń", "Delete", new { id = Model.Id_Wydania }, new { @class = "btn btn-danger" })
        @Html.ActionLink("Powrót", "Index", null, new { @class = "btn btn-default" })
    </p>
    <hr/>
</div>
<div class="detailed-list">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ilosc):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ilosc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_Wydania):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_Wydania)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kartoteki.Nazwa):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kartoteki.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MPK.Nazwa):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MPK.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Osoby.Imie):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Osoby.Imie)
        </dd>

    </dl>

</div>

