@model PartsWarehouse.Models.Wydania

@{
    ViewBag.Title = "Wydanie - szczegóły";
}

<h2>Szczegóły</h2>

<div>
    <h4>Wydania</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ilosc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ilosc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_Wydania)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_Wydania)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kartoteki.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kartoteki.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MPK.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MPK.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Osoby.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Osoby.Imie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edycja", "Edit", new { id = Model.Id_Wydania }) |
    @Html.ActionLink("Powrót", "Index")
</p>
