@model IEnumerable<PartsWarehouse.Models.Wydania>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ilosc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_Wydania)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kartoteki.Nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MPK.Nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Osoby.Imie)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ilosc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_Wydania)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kartoteki.Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MPK.Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Osoby.Imie)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Wydania }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Wydania }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Wydania })
        </td>
    </tr>
}

</table>
