@model PagedList.IPagedList<PartsWarehouse.Models.Wydania>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Wydania";
}

<h2 class="text-center">Wydania</h2>
<hr/>
<div>
    @using (Html.BeginForm("Index", "Wydania", FormMethod.Get))
    {
    <div class="pull-right">
            Filtruj po nazwie kartoteki:
        <p>
            @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Szukaj" class="btn btn-default"/>
        </p>
    </div>

    }
</div>


<table class="table">
    <tr class="breadcrumb">
        <th>
            @Html.ActionLink("Data Wydania", "Index", new { sortOrder = ViewBag.DateSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Nazwa części", "Index", new { sortOrder = ViewBag.NameSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Ilość
        </th>

        <th>
            Miejsce
        </th>
        <th>
            Nazwisko pobierającego
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Wydania)        
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kartoteki.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ilosc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MPK.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Osoby.Nazwisko)
            </td>
            <td class="text-center">
                @Html.ActionLink("Edycja", "Edit", new { id = item.Id_Wydania }, new { @class = "btn btn-default btn-sm" })
                @Html.ActionLink("Usuń", "Delete", new { id = item.Id_Wydania }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }

</table>
<hr/>
Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))