@model PartsWarehouse.Models.Kartoteki

@{
    ViewBag.Title = "Kartoteka - usuwanie";
}
<div class="text-center">
    <h2>Usuń</h2>
    <h4>Kartoteka</h4>
    <hr />
    <h3>Jesteś pewny, że chcesz usunąć tę kartotekę?</h3>
    <hr />
</div>

<div class="detailed-list">
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Nazwa):</dt>
        <dd>@Html.DisplayFor(model => model.Nazwa)</dd>
        <dt>@Html.DisplayNameFor(model => model.Miejsce):</dt>
        <dd>@Html.DisplayFor(model => model.Miejsce)</dd>
        <dt>@Html.DisplayNameFor(model => model.Kod):</dt>
        <dd>@Html.DisplayFor(model => model.Kod)</dd>
        <dt>@Html.DisplayNameFor(model => model.Dostawcy.Nazwa):</dt>
        <dd>@Html.DisplayFor(model => model.Dostawcy.Nazwa)</dd>
    </dl>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color text-center">
        <input type="submit" value="Usuń" class="btn btn-danger" />
        @Html.ActionLink("Powrót", "Index", null, new { @class = "btn btn-default" })
    </div>
}
<br />
