@model PartsWarehouse.Models.Kartoteki

@{
    ViewBag.Title = "Kartoteka - usuwanie";
}

<h2>Usuń</h2>

<h3>Jesteś pewny, że chcesz usunąć tę kartotekę?</h3>
<div>
    <h4>Kartoteki</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Miejsce)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miejsce)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dostawcy.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dostawcy.Nazwa)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót", "Index")
        </div>
    }
</div>
