@model PartsWarehouse.Models.Osoby

@{
    ViewBag.Title = "Pracownik - szczegóły";
}
<div class="text-center">
    <h2>Szczegóły</h2>
    <h4>Osoby</h4>
    <hr />
    <p>
        @Html.ActionLink("Powrót", "Index", null, new { @class = "btn btn-default" })
    </p>
    <hr />
</div>

<div class="detailed-list">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Imie):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwisko):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dzialy.Nazwa):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dzialy.Nazwa)
        </dd>

    </dl>

</div>
@if (Model.Wydania.Count > 0)
{
    <div>
        <hr />
        <table class="table">
            <tr class="bg-warning">
                <th>Część</th>
                <th>Ilość</th>
                <th>Data wydania</th>
            </tr>
            @foreach (var item in (List<PartsWarehouse.Models.Wydania>)ViewBag.LastWydania)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kartoteki.Nazwa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelIte => item.Ilosc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data_Wydania)
                    </td>
                </tr>
            }
        </table>
    </div>
}

