@model PartsWarehouse.Models.Osoby

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Osoby</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dzialy.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dzialy.Nazwa)
        </dd>

    </dl>
    <div class="table">
        <table>
            <tr>
                <th>Część</th>
                <th>Data wydania</th>
            </tr>
            @foreach( var item in Model.Wydania)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kartoteki.Nazwa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data_Wydania)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Osoby }) |
    @Html.ActionLink("Back to List", "Index")
</p>
