@model IEnumerable<PartsWarehouse.Models.Zamowienia>

@{
    ViewBag.Title = "Zamówienia";
}

<h2>Zamówienia</h2>

<p>
    @Html.ActionLink("Stwórz nowe zamówienie", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Data_zamowienia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Realizacja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ilosc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kartoteki.Nazwa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Data_zamowienia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Realizacja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ilosc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kartoteki.Nazwa)
        </td>
        <td>
            @Html.ActionLink("Edycja", "Edit", new { id=item.Id_Zamowienia }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.Id_Zamowienia }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.Id_Zamowienia })
        </td>
    </tr>
}

</table>
